@model IEnumerable<BusinessLayer.Answer>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CategoryValue)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CategoryValue.Value)
            </td>
            <td>
                    <a asp-action="Edit" asp-route-Year="@item.Date.Year" asp-route-Month="@item.Date.Month" asp-route-Day="@item.Date.Day" asp-route-CategoryId="@item.CategoryId" asp-route-GameId="@item.GameId">Edit</a> |
                    <a asp-action="Details" asp-route-Year="@item.Date.Year" asp-route-Month="@item.Date.Month" asp-route-Day="@item.Date.Day" asp-route-CategoryId="@item.CategoryId" asp-route-GameId="@item.GameId">Details</a> |
                    <a asp-action="Delete" asp-route-Year="@item.Date.Year" asp-route-Month="@item.Date.Month" asp-route-Day="@item.Date.Day" asp-route-CategoryId="@item.CategoryId" asp-route-GameId="@item.GameId">Delete</a> |
            </td>
        </tr>
}
    </tbody>
</table>