@page "/categoriesvalues/delete/{Id:int}"
@inject ServiceLayer.CategoriesValuesManager DB
@using BusinessLayer
@inject NavigationManager NavigationManager
@using Microsoft.EntityFrameworkCore

<PageTitle>Delete</PageTitle>

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<li>
    <h4>CategoriesValues</h4>
    <hr />
    @if (categoriesValues is null)
    {
        <p><em>Loading...</em></p>
    }
    else
    {
        <dl class="row">
            <dt class="col-sm-2">Value</dt>
            <dd class="col-sm-10">@categoriesValues.Value</dd>
        </dl>
        <dl class="row">
            <dt class="col-sm-2">Category</dt>
            <dd class="col-sm-10">@categoriesValues.Category</dd>
        </dl>
        <dl class="row">
            <dt class="col-sm-2">HeroProfiles</dt>
            <dd class="col-sm-10">@categoriesValues.HeroProfiles</dd>
        </dl>
        <dl class="row">
            <dt class="col-sm-2">Answers</dt>
            <dd class="col-sm-10">@categoriesValues.Answers</dd>
        </dl>
        <EditForm method="post" Model="categoriesValues" OnValidSubmit="DeleteCategoriesValues" FormName="delete" Enhance>
            <button type="submit" class="btn btn-danger" disabled="@(categoriesValues is null)">Delete</button> |
            <a href="/categoriesvalues">Back to List</a>
        </EditForm>
    }
</li>

@code {
    CategoriesValues? categoriesValues;

    [Parameter]
    public int Id { get; set; }

    protected override async Task OnInitializedAsync()
    {
        categoriesValues = await DB.ReadAsync(Id, true);

        if (categoriesValues is null)
        {
            NavigationManager.NavigateTo("notfound");
        }
    }

    public async Task DeleteCategoriesValues()
    {
        DB.DeleteAsync(Id);
        NavigationManager.NavigateTo("/categoriesvalues/index");
    }
}
